body {
    font-family: Arial, sans-serif;
    margin: 0
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #fff;
    padding: 5px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 6px 16px rgba(0, 0, 0, .08);
    border-bottom: 1px solid rgba(0,0,0,.06);
}

.header-inner {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 200px;
}



.header .logo img {
    height: 120px;
    width: auto;
    display: block;
}

@media (max-width: 992px) {
    .header .logo img {
        height: 60px;
    }
}



.header .logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    gap: 48px;
}

    .menu a {
        color: #111;
        font-weight: 600;
        text-decoration: none;
        position: relative;
        transition: color .25s;
    }

        .menu a::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -10px;
            height: 3px;
            width: 0;
            background: #e50914;
            border-radius: 2px;
            margin: auto;
            transition: width .25s;
        }

        .menu a:hover {
            color: #e50914;
        }

            .menu a:hover::after,
            .menu a.active::after {
                width: 100%;
            }

.actions {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left:auto;
}

    .actions input {
        height: 36px;
        border: 1px solid #ddd;
        background: #fff;
        border-radius: 8px;
        padding: 0 12px;
        color: #222;
    }

    .actions button {
        background: transparent;
        border: none;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

        .actions button i {
            font-size: 18px;
            color: #000;
        }

        .actions button:hover {
            color: #e50914;
        }

.login-icon {
    color: #333;
    font-size: 22px;
    text-decoration: none;
}

    .login-icon:hover {
        color: #e50914;
    }


.nav {
    background: #f5f5f5;
    padding: 8px;
    text-align: center
}

    .nav a {
        margin: 0 10px;
        color: #333;
        text-decoration: none
    }


.search-box {
    display: none;
    height: 36px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 8px;
    padding: 0 12px;
    color: #222;
    transition: all .3s ease;
}

    .search-box.active {
        display: inline-block;
        width: 200px;
    }

.main {
    padding: 16px
}
